<%if notice %>
<p id="notice"><%= notice %></p>
<%end%>

<h1>Book Catalog</h1>
<% @products.each do |p| %>
	<div class="entry">
		<%= image_tag(p.image_url) %>
		<h3><%= p.title %></h3>
		<%= sanitize(p.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(p.price) %></span>
			<%= button_to 'Add to Cart', line_items_path(:product_id => p) %>
		</div>
	</div>
<%end%>