<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "scaffold"%>
  <%= stylesheet_link_tag "depot", :media => "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Prag's Book Store" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://rb:3000">Home</a><br>
      <a href="http://pragith.net">Pragith.Net</a><br>
      <a href="http://pragith.net">Pragith.Net</a><br>
      <a href="http://pragith.net">Pragith.Net</a><br>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
